.tform2{
    height: 40%;
    padding: 0;
}
.tform-des{
    font-size: 20px;
}
.tform-elements{
    padding: 0;
    margin: 0;
}
.tform-elements > div > input{
    color: white;
    width: 276px;
    height: 52px;
    font-size: 15px;
    padding-left: 30px;
    border-radius: 20px;
    border: none;
}
.tform2 > form{
    width: 75%;
}
@media (max-width: 1024px){
    .tform-des{
        font-size: 17px;
    }
    .tform2{
        margin-top: 20px;
    }
    .tform2 > form{
        width: 100%;
    }
    .tform-elements > div > input{
        margin: 5px;
    }
    .tform-elements{
        margin: 20px 0;
    }
}
@media (max-width: 576px){
    .tform-des{
        font-size: 15px;
    }
    .tform-elements > div > input{
        margin: 5px;
    }
    .tform-elements{
        margin: 20px 0;
    }
}