.project{
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.project-content-div{
    width: 348px;
    height: 241px;
    top: 7%;
    background-position: center;
    background-size: cover;
    background-image: url('src/assets/images/project-card.png');
}
.project-content-div > span{
    background-color: #F4FF49;
    width: 60px;
    height: 60px;
    top: 89%;
    right: 15.5%;
    border-radius: 30px;
}
.card-status{
    background-color: #F4FF49;
    width: 113px;
    height: 30px;
    font-size: 14px;
}
.card-title{
    font-size: 24px;
    font-weight: 500;
}
.card-line{
    width: 100%;
    display: block;
    height: 1px;
    background-color: black;
}
.card-des{
    font-size: 18px;
}
.card-location{
    font-size: 12px;
}
@media (max-width: 576px){
    .project-content-div{
        width: 250px;
        height: 180px;
    }
    .project-content-div > span{
        width: 30px;
        height: 30px;
        top: 88%;
        right: 18%;
        background-size: cover;
    }
    .card-status{
        width: 83px;
        height: 25px;
        font-size: 10px;
    }
    .card-title{
        font-size: 16px;
        font-weight: 400;
    }
    .card-line{
        display: none;
    }
    .card-des{
        font-size: 12px;
    }
    .card-location{
        font-size: 10px;
    }
}