#testimonialsform-section{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: white;
}
.tform1{
    height: 40%;
    padding: 0;
}
.tform-text{
    font-size: 18px;
    width: 171px;
    height: 44px;
}
.tform-title{
    font-size: 40px;
    font-weight: bold;
}
.tform3{
    height: 60%;
}
.tform3 > img{
    height: 440px;
    width: 1400px;
}
.tform3 > div{
    top: 2%;
    right: 7%;
    /* background-color: blue; */
    width: 36%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: lighter;
    color: #6F6D6D;
}
.tform-btn{
    width: 195px;
    height: 40px;
    background-color: #F4FF49;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.tform-btn-div{
    display: flex;
}
.tform-btn > span{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}
@media (max-width: 1024px){
    #testimonialsform-section{
        height: 100%;
    }
    .tform1{
        padding: 20px 0;
        gap: 20px;
    }
    .tform-text{
        font-size: 15px;
        width: 141px;
        height: 34px;
    }
    .tform-title{
        font-size: 30px;
    }
    .tform-btn-div{
        width: 100%;
        flex-direction: column;
        /* left: 32%; */
    }
    .tform-btn-div > span, .tform-btn-div > button{
        width: 300px;
        font-size: 17px;
    }
    .tform3 > img{
        height: 250px;
        width: 650px;
        margin-top: 50px;
    }
}
@media (max-width: 576px){
    .tform1{
        padding: 20px 0;
        gap: 20px;
    }
    .tform-text{
        font-size: 15px;
        width: 141px;
        height: 34px;
    }
    .tform-title{
        font-size: 30px;
    }
    .tform-btn-div{
        width: 100%;
        flex-direction: column;
        left: 32%;
    }
    .tform-btn-div > span, .tform-btn-div > button{
        width: 300px;
        font-size: 17px;
    }
    .tform3 > img{
        height: 250px;
        width: 350px;
        margin-top: 80px;
    }
}