#testimonialsreview-section{
    background-color: pink;
    height: 652px;
    background-image: url('src/assets/images/treview.png');
    background-position: center;
    background-size: cover;
}
.treview{
    /* background-color: darkred; */
    width: 90%;
    height: 90%;
}
.treview-top{
    width: 171px;
    height: 44px;
}
.treview-mid-text{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.treview-mid-text2 {
    padding-right:100px ;
}
.treview-mid-link{
    background-color: #F4FF49;
    width: 148px;
    height: 40px;
    border-radius: 50px;
    padding: 0;
}
.treview-mid-link > a > span{
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.treview-card{
    width: 90%;
    /* background-color: cyan; */
}
.treview-card-top > img{
    width: 100%;
    overflow: hidden;
}
.treview-card-mid1{
    background-color: #F4FF49;
    padding: 5px 10px;
}
.treview-card-mid1 > img{
    width: 25px;
    height: 25px;
}
.treview-card-mid2{
    width: 15%;
    height: 1px;
}
@media (max-width: 1024px){
    #testimonialsreview-section{
        height: 100%;
    }
    .treview-top{
        margin-top: 20px;
    }
    .treview-mid-text2 {
        padding-right: 30px;
    }
}
@media (max-width: 576px){
    #testimonialsreview-section{
        height: 100%;
        background-position: 35%;
    }
    .treview-top{
        margin-top: 20px;
        width: 141px;
        height: 40px;
        font-size: 14px;
    }
    .treview-mid-text{
        font-size: 22px;
        font-weight: bold;
        color: white;
    }
    .treview-mid-link{
        width: 108px;
        height: 30px;
        border-radius: 30px;
        font-size: 10px;
    }
    .treview-mid-link > a > span{
        height: 20px;
        width: 20px;
    }
    .treview-mid-text2 {
        padding-right: 10px;
    }
    .treview-bot{
        gap: 20px;
    }
}
