@font-face {
    font-family:rasa ;
    src: url('./assets/font/Rasa-Medium.ttf') format('truetype');
    font-style: normal;
}
.rasa{
    font-family: 'rasa';
}
@font-face {
    font-family: readex;
    src: url('./assets/font/ReadexPro-Medium.ttf') format('truetype');
    font-style: normal;
}
.readex{
    font-family: 'readex';
}
@font-face {
    font-family: inter;
    src: url('./assets/font/Inter_18pt-Regular.ttf') format('truetype');
}
.inter{
    font-family: inter;
}
@font-face {
    font-family: solitreo;
    src: url('./assets/font/Solitreo-Regular.ttf') format('truetype');
}
.solitreo{
    font-family: solitreo;
}